<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            font-family: Tahoma, sans-serif;
            background-color: #FFF0DC;
            margin: 0;
            padding: 0;
        }
        h1 {
            text-align: center;
            color: #EB5A3C;
        }
        .form-container {
            max-width: 600px;
            margin: 20px auto;
            padding: 20px;
            background-color: #FFF6B3;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
        form {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        input[type="text"] {
            padding: 10px;
            border: 2px solid #DF9755;
            border-radius: 4px;
        }
        .button-container {
            display: flex;
            gap: 10px;
            justify-content: center;
        }
        button {
            padding: 10px 20px;
            font-size: 16px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        button[type="submit"] {
            background-color: #EB5A3C;
            color: white;
        }
        button[type="submit"]:hover {
            background-color: #F26B0F;
        }
        button[type="button"] {
            background-color: #DF9755;
            color: white;
        }
        button[type="button"]:hover {
            background-color: #F2AE66;
        }
        table {
            width: 80%;
            margin: 20px auto;
            border-collapse: collapse;
            background-color: white;
        }
        th, td {
            border: 1px solid #ECE852;
            padding: 10px;
            text-align: center;
        }
        th {
            background-color: #F2AE66;
            color: white;
        }
        tbody tr:nth-child(odd) {
            background-color: #FFF6B3;
        }
        tbody tr:nth-child(even) {
            background-color: #FFF0DC;
        }
    </style>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Home Page</title>
</head>
<body>
<h1>URL SHORTENER</h1>
<div class="form-container">
    <% if (id) { %>
        <p>URL Generated: <a href="http://localhost:3000/url/<%= id %>" target="_blank">http://localhost:3000/url/<%= id %></a></p>
    <% } %>
    <form action="/url" method="post">
        <label for="url">Enter your Original URL</label>
        <input type="text" id="url" name="url" placeholder="Enter URL" required />
        <div class="button-container">
            <button type="submit">Generate</button>
            <button type="button">Delete</button>
        </div>
    </form>
</div>
<% if (urls) { %>
    <table>
        <thead>
        <tr>
            <th>Sl.No</th>
            <th>SHORT ID</th>
            <th>ORIGINAL URL</th>
            <th>CLICKS</th>
            <th>DELETE</th>
        </tr>
        </thead>
        <tbody>
        <% urls.forEach((url, index) => { %>
            <tr>
                <td><%= index + 1 %></td>
                <td><%= url.shortId %></td>
                <td><a href="<%= url.redirectUrl %>" target="_blank"><%= url.redirectUrl %></a></td>
                <td><%= url.visitHistory.length %></td>
                <td>
                    <form action="/url" method="post" style="justify-content:center; align-items: center" >
                        <button style="width:60%;align-items: center " type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        <% }) %>
        </tbody>
    </table>
<% } %>
</body>
</html>